a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.gif-container {
    margin: auto;
}
  
.row {
      text-align: center;
}
  
img{
    height:15em;
    width: 100%;
}
  
.gif-title{
    font-size: 12px;
}
  
.img-fluid{
    border-radius: 20px;
}
  
  .gifs{
    margin-bottom: 10px;
}