<div class="container gif-container">
    <h2 class="py-4"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(255, 67, 67, 1);transform: ;msFilter:;"><defs><path id="a-80" d="M-22 2.24h42V22h-42z"></path></defs><clipPath id="b-79"><use xlink:href="#a-80" overflow="visible"></use></clipPath><path clip-path="url(#b-79)" d="M16.543 8.028c-.023 1.503-.523 3.538-2.867 4.327.734-1.746.846-3.417.326-4.979-.695-2.097-3.014-3.735-4.557-4.627-.527-.306-1.203.074-1.193.683.02 1.112-.318 2.737-1.959 4.378C4.107 9.994 3 12.251 3 14.517 3 17.362 5 21 9 21c-4.041-4.041-1-7.483-1-7.483C8.846 19.431 12.988 21 15 21c1.711 0 5-1.25 5-6.448 0-3.133-1.332-5.511-2.385-6.899-.347-.458-1.064-.198-1.072.375"></path></svg> <b>Trending Gifs</b> | <span class="link-one"><a [routerLink]="['trending']" routerLinkActive="router-link-active" >View All</a></span></h2>
    <div class="row">
      <div class="col-md-3 gifs" *ngFor="let gif of  allTrendingGifs | slice:5:9;">
        <a href="{{ gif.url }}" target="_blank">
            <img [src]="gif.images.downsized.url" class="img-fluid" alt="...">
        </a>
        <h6 class="text-center py-2 gif-title">{{ gif.title | titlecase }}</h6>
      </div>
    </div>
</div>
<div class="container">
    <h2 class="py-4"><b><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(0, 123, 255, 1);transform: ;msFilter:;"><path d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"></path></svg> Gif Categories</b> | <span class="link-two"><a [routerLink]="['categories']" routerLinkActive="router-link-active" >View All</a></span></h2>
    <div class="row">
      <div class="col-md-3 gifs" *ngFor="let gif of  allGifCategories | slice:18:22;">
        <a href="{{ gif.gif.url }}" target="_blank">
            <img [src]="gif.gif.images.downsized.url" class="img-fluid" alt="...">
        </a>
        <h6 class="text-center py-2 gif-title">{{ gif.name | titlecase }}</h6>
      </div>
    </div>
</div>