.gif-container {
    margin: auto;
}
  
.row {
    text-align: center;
}
  
img{
    height:15em;
    width: 100%;
}
  
.gif-title{
    font-size: 12px;
}
  
.img-fluid{
    border-radius: 20px;
}

.gifs{
    margin-bottom: 10px;
}

.search-input {
    color: #000;
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-color: #000;
}

.search {
    width: 100%;
    margin-top: 65px;
}